{% extends 'base.html.twig' %}

{% block title %}Symfony Time Tracker {% endblock %}

{% block body %}

    <div>
        <home></home>
    </div>


    <div>
        <a href="{{ path('logout') }}" class="btn btn-default">Logout</a>
    </div>
{% endblock %}
